* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

header {
    margin: 44px 0 144px 76px;
}

.link-header {
    color: #989D9C;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    cursor: pointer;
    margin-right: 23px;
}

.login {
    border-radius: 20.5px;
    background: #665AE1;
    width: 130px;
    height: 41px;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    border: none;
    cursor: pointer;
}

.explore {
    border-radius: 30px;
    background: #ADFF00;
    width: 239px;
    height: 64px;
    cursor: pointer;
    width: 239px;
    height: 64px;
    color: #000;
    font-size: 28px;
    border: none;
    font-weight: 700;
    line-height: 34px;
    filter: drop-shadow(0px 4px 4px rgba(0, -0, -0, 0.25));
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    color: #515151;
    font-size: 100px;
    font-weight: 900;
    line-height: 122px;
}

h2 {
    color: #515151;
    font-size: 58px;
    font-weight: 500;
    line-height: 71px;
}

p {
    color: #848484;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    line-height: 29px;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}